<p>customer works!</p>
<table border="3">
    <tr>
        <th>CustomerId</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>MobileNo</th>
        <th>DateofBirth</th>
        <th>Address</th>
    </tr>
    <tr *ngFor="let c of cust | async">
        <td>{{c.cus_id}}</td>
        <td>{{c.cus_name}}</td>
        <td>{{c.cus_email}}</td>
        <td>{{c.cus_password}}</td>
        <td>{{c.cus_mobile}}</td>
        <td>{{c.cus_dob}}</td>
        <td>{{c.cus_address}}</td>
    </tr>
</table>
